@model Student

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apply</title>
</head>
<body>
    <form asp-action="apply" method="POST">

        <div asp-validation-summary="All"></div>
        <p>
            <label asp-for="name">Adınız</label>
            <input asp-for="name">
        </p>

        <p>
            <label asp-for="email">Email</label>
            <input asp-for="email">
        </p>

        <p>
            <label asp-for="phone">Phone</label>
            <input asp-for="phone">
        </p>

        <p>
            <label asp-for="confirm">Will you join the course ?</label>
            <select asp-for="confirm">
                <option value="true">Evet</option>
                <option value="false">Hayır</option>
            </select>
        </p>

        <input type="submit" value="submit">
    </form>
</body>
</html>