@model Student

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Hoşgeldin @Model.name</h2>
    <hr>
    
    @if(@Model.confirm == true){
        <span>
            Katıldın helal
        </span>

        <h4>Katılmcılar</h4>
        
        foreach(Student s in Repository.getStudents)
        {
            

            <div>
                @s.name
            </div>
        }

    } else{
        <span>
            Katılmadın cool
        </span>
    }
</body>
</html>